
.icon-logout:before { content: '\e800'; } /* '' */
.icon-gauge:before { content: '\e801'; } /* '' */
.icon-user:before { content: '\e802'; } /* '' */
.icon-pencil:before { content: '\e811'; } /* '' */
.icon-key:before { content: '\e813'; } /* '' */
